.container1{
    background-color: rgb(246, 136, 132);
    box-sizing: border-box;
    width: 35vw;
    margin: 80px auto;
    padding: 20px 10px;
    border-radius: 10px;
}

.entry{
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
}

.input-field{
    display: block;
    /* margin-left: 10px; */
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
}

.label{
    font-size: 20px;
    color: black;
}

.btn1{
    width: 100%;
    box-sizing: border-box;
}